<?xml version="1.0"?>
<ruleset name="KeySmsSDK">
    <description>The coding standard for KeySMS SDK.</description>
    <file>src</file>
    <exclude-pattern>tests/*</exclude-pattern>
    <arg value="np"/>
    <rule ref="PSR2"/>
</ruleset>

